.mat-toolbar {
    box-shadow: 0 0 6px #00000080;
    height: 50px;
    background-color: #263d61;
    img {
        cursor: pointer;
    }
}

.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    padding-left: 0px;
}

.menu-icon {
    width: 20px;
    cursor: pointer;
}