<!--Login for user with account-->

<div *ngIf="loginService.registration == false" class="login-register-box">
    <div class="form-box">
        <h1>Login</h1>

        <div class="input-box">
            <i class="fa fa-envelope icon"></i>
            <input [(ngModel)]="loginService.loginEmail" required class="email-input" type="email" placeholder="E-mail">
        </div>

        <div class="input-box">
            <i class="fa fa-key icon"></i>
            <input [(ngModel)]="loginService.loginPassword" class="password-input" type="password" placeholder="Passwort">
            <span class="eye" onclick="showPassword()">
            <i class="fa fa-eye" id="hide1"></i>
            <i class="fa fa-eye-slash" id="hide2"></i>
            </span>
        </div>

        <button type="button" class="login-btn" (click)="checkUserLogin()">Login</button>
        <button type="button" class="login-button" routerLink="register" (click)="loginService.registration = true">Register</button>
        <button type="button" class="login-btn" (click)="questLogin()">Als Gast anmelden</button>
    </div>
</div>

<!--Register if the user has no account-->

<div *ngIf="loginService.registration" class="login-register-box">
    <div class="form-box" id="form-box2">
        <h1>Register</h1>

        <div class="input-box">
            <i class="fa fa-user icon"></i>
            <input [(ngModel)]="firstName" required class="email-input" type="text" placeholder="First Name">
        </div>

        <div class="input-box">
            <i class="fa fa-user icon"></i>
            <input [(ngModel)]="lastName" required class="email-input" type="text" placeholder="Last Name">
        </div>

        <div class="input-box">
            <i class="fa fa-envelope icon"></i>
            <input [(ngModel)]="email" required class="email-input" type="email" placeholder="E-mail">
        </div>

        <div class="input-box">
            <i class="fa fa-key icon"></i>
            <input [(ngModel)]="password" class="password-input" type="password" placeholder="Passwort">
            <span class="eye" onclick="showPasswordRegister()">
    <i class="fa fa-eye" id="hide3"></i>
    <i class="fa fa-eye-slash" id="hide4"></i>
    </span>
        </div>

        <button type="button" class="login-btn" (click)="generateNewUser()">Register</button>
        <button type="button" class="login-button" (click)="loginService.registration = false" routerLink="login">Back</button>
    </div>
</div>