<div class="chat-input-box">
    <div class="font-settings-box">
        <div>B</div>
        <div>I</div>
        <div>$</div>
        <div>--</div>
        <div>||</div>
    </div>

    <div>
        <input type="text" [(ngModel)]="channelmessage.text" [(ngModel)]="textArea" placeholder="Nachricht an Max Mustermann">
    </div>

    <div class="gadgets-box">
        <div>Bild Senden</div>
        <div class="emoji-container" id="emoji" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</div>
        <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
        <div>Sprachnachricht</div>
    </div>

    <img (click)="sendMessage()" src="./assets/icons/arrow-34-48.png" alt="senden">
</div>