<div class="chat-input-box">
  <div class="font-settings-box">
    <button (click)="messageService.makeTextBold()">B</button>
    <button (click)="messageService.makeTextItalics()">I</button>
    <button (click)="messageService.makeTextLineThrough()">--</button>
  </div>

  <div>
    <input
      [ngClass]="{'bold': messageService.selectedButton === 'bold', 'italic':messageService.selectedButton === 'italic',  'linethrough': messageService.selectedButton === 'linethrough'}"
      placeholder="Please enter your message..." [(ngModel)]="textArea" [(ngModel)]="channelmessage.text" type="text"
      (keyup.enter)="sendMessage()">
  </div>

  <div class="gadgets-box">
    <!-- this input/button is hidden by CSS, but triggered by a function of another element -->
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept="image/*">

    <div class="file-upload">
      <mat-icon class="icon icon-ImageUpload" aria-hidden="false" title="Add an image" aria-label="insert_photo"
        (click)="fileUpload.click()">
        insert_photo
      </mat-icon>
      {{ fileName || "No image uploaded yet." }}
    </div>

    <div class="emoji-container" id="emoji" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</div>
    <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
      title="Choose your emoji"></emoji-mart>

  </div>

  <img (click)="sendMessage()" src="./assets/icons/arrow-34-48.png" alt="senden">
</div>


<!-- <div>

    <editor apiKey="fen4oy4telrpapv7223cg8ywdmh7netjtp231r0lo6y8y6i9" [(ngModel)]="channelmessage.text"></editor>

    <div class="footer">
        <div class="wrapperFiles">
            <span>Files: </span>
            <div class="file">
                <span></span>
                <mat-icon class="icon-delete">clear</mat-icon>
                <mat-icon class="icon">loop</mat-icon>
            </div>
        </div>

        <mat-icon class="icon icon-ImageUpload" aria-hidden="false" title="Add an image" aria-label="insert_photo">
            insert_photo
            <input type="file" multiple accept="*.jpg.png" />
        </mat-icon>

        <mat-icon class="icon" title="Cancel Message">cancel</mat-icon>

        <mat-icon (click)="sendMessage()" class="icon" aria-hidden="false" title="Send Message" aria-label="send-icon">send</mat-icon>
    </div>

</div> -->
