.app-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    app-content-drawer {
        flex: 1;
    }
}

.test {
    z-index: 1;
    position: absolute;
    top: 50px;
    right: 85px;
}

@media (max-width: 700px) {
    .app-screen {
        overflow: hidden;
    }
}