:host {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.thread-messages-box {
    flex: 1;
    position: relative;
    display: flex;
}

.messages-input-box {
    position: relative;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info-empty {
    margin: 32px;
    font-size: 16px;
    text-align: center;
}

.message {
    position: relative;
    display: flex;
    font-weight: 550;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 6px;
    margin-top: 30px;
    margin-left: 20px;
    img {
      height: 300px;
    }
}

.user-box {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    img {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        width: 35px;
        height: 35px;
    }
}

.user {
    font-weight: bolder;
    font-size: 15px;
    color: #2e4872;
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.timestamp {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 0px;
}

.message-box {
    padding-left: 46px;
    margin-top: -16px;
}

.showthread-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 85px;
    background-color: #2e4872;
    color: white;
    margin-bottom: 10px;
}

// custom scrollbar

/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
