<div *ngIf="id == null">
    please select a channel or a direct message
</div>
<div class="messages-box">
    <div *ngFor="let message of messageService.messages" class="message">
        <div *ngIf="messageService.messages.length == 0">
            no messages available
        </div>

        <div>
            <div class="user-box">
                <ng-container *ngFor="let participant of userService.participants">
                    <ng-container *ngIf="participant.customIdName === message.userId">
                        <img src="{{ participant.img }}" alt="">
                        <p class="user">{{ participant.firstName }} {{ participant.lastName }}</p>
                    </ng-container>
                </ng-container>
                <p class="timestamp">{{ message.timestamp | date : 'dd.MM.y, HH:mm'}} Uhr</p>
            </div>
            <p class="typed-message">{{ message.text }} </p>
        </div>
    </div>
</div>

<div class="chat-input-box">
    <app-chat-input class="chat-input"></app-chat-input>
</div>
