.thread-messages-box {
  display: flex;
}

.messages-box {
    position: relative;
    min-height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    font-weight: 550;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 6px;
    margin-top: 30px;
    margin-left: 20px;
}

.user-box {
    display: flex;
    margin-bottom: 10px;
    img {
        border-radius: 5px;
        width: 30px;
        height: 30px;
    }
}

.user {
    font-weight: 800;
    font-size: 15px;
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.timestamp {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 0px;
}

.typed-message {
    padding-left: 40px;
}

.chat-input-box {
    position: sticky;
    bottom: 10px;
    width: 100%;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 110px;
}

.threads-box {
  width: 400px;
}
