.sidenav {
    width: 20vw;
    height: 100vh;
    background-color: #4d5caf;
    margin-top: -12px;
}

.channels {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 24px;
    padding-top: 32px;
    h2 {
        margin-bottom: 1rem;
        font-size: 24px;
    }
    span {
        margin-top: 0.5rem;
        margin-left: 1rem;
        font-size: 18px;
    }
}

.footer {
    width: 20vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 18px 0;
    border-top: 1px solid rgb(195, 195, 195);
    color: white
}