/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* textStyle */

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.normal {
    font-weight: unset;
}

.linethrough {
    text-decoration: line-through;
}